.courseCard__container {
  max-width: 320px;
  margin: 0 auto;
  height: fit-content;
  background: linear-gradient(135deg, #010d1d, #192441);
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding-bottom: 24px;
  border: 2px solid var(--color-white);
  box-shadow: 0 0 25px 0 #000;
}

.courseCard__header {
  width: 100%;
  border-radius: 14px 14px 0 0;
  border-bottom: solid 6px var(--color-white);
  position: relative;
}

.courseCard__header img {
  display: block;
  border: 6px solid var(--color-white);
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.courseCard__container div:first-child {
  min-height: 120px;
  margin-bottom: 35px;
}

.courseCard__container div:nth-child(2) {
  padding: 0 14px;
}

.courseCard__container div:nth-child(2) div:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--font-size-sm);
  margin: 14px 0 18px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 12px;
}

.courseCard__container div:nth-child(2) h3 {
  display: block;
  font-size: var(--font-size-md);
  font-weight: 600;
  padding: 0 0 6px;
}

.courseCard__container div:nth-child(2) p {
  display: block;
  font-size: var(--font-size-sm);
  font-weight: 300;
}
