.profileSectionTitle {
  display: block;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  margin: 24px 0 28px;
  font-weight: 900;
  text-transform: uppercase;
}

.profileSectionTitle::after {
  content: '';
  display: block;
  width: 15%;
  height: 4px;
  border-radius: 14px;
  margin: 0 auto;
  background-color: var(--color-primary);
}

.savedCoursesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--items-gap);
  margin-top: 32px;
  margin-bottom: 56px;
}

.savedCoursesContainer li {
  list-style: none;
}

.noCoursesMessage {
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noCoursesMessage > span {
  font-size: var(--font-size-sm);
}
