.portfolio__hero__projectCard {
  background-color: var(--color-quaternary);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 24px;
  width: 100%;
  max-width: 300px;
  transition: all 0.3s ease;
}

.portfolio__hero__projectImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.portfolio__hero__projectCard div {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.portfolio__hero__projectCard div > h3 {
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.portfolio__hero__projectCard div > p {
  font-size: var(--font-size-sm);
  color: #e9e9e9;
  font-weight: 300;
  margin: 0 0 8px;
  text-align: center;
}
