.portfolio__hero__projectCard {
  background: linear-gradient(135deg, #010d1d, #192441);
  box-shadow: 0 0 25px 0 #000;
  border: 2px solid var(--color-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 24px;
  width: 100%;
  max-width: 340px;
  transition: all 0.3s ease;
}

.portfolio__hero__projectImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.portfolio__hero__projectCard div {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.portfolio__hero__projectCard div > h3 {
  font-size: var(--font-size-md);
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.portfolio__hero__projectCard div > p {
  font-size: var(--font-size-sm);
  color: #e9e9e9;
  font-weight: 300;
  margin: 0 0 8px;
  text-align: center;
}
