.footer {
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 32px 0;
  border-top: 2px solid var(--color-primary);
  background-color: #0000007f;
  font-size: var(--font-size-sm);
}
