.courseInfoCard {
  width: 100%;
  max-width: 280px;
  background-color: #02cf5e1d;
  padding: 14px;
  border-radius: 8px;
}

.courseInfoCard h3 {
  margin: 14px 0 8px;
  font-size: var(--font-size-md);
}

.courseInfoCard p {
  font-size: var(--font-size-sm);
  font-weight: 300;
}
