.home_heroSection {
  min-height: 85vh;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 20px 0;
}

.home_heroSection__icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 0 5rem;
}

.icon {
  width: 24px;
  display: flex;
  cursor: pointer;
  color: var(--color-white);
}

.icon:hover {
  transform: scale(1.2);
  transition: 0.3s;
  color: var(--color-primary);
}

.home_heroSection__article {
  max-width: 320px;
}

.home_heroSection__article > span {
  color: var(--color-primary);
  font-size: var(--font-size-small);
  margin-bottom: 20px;
}

.home_heroSection__article > h1 {
  color: var(--color-white);
  font-size: var(--font-size-extra-large);
  text-transform: uppercase;
}

.home_heroSection__article > div > h3 {
  color: var(--color-primary);
  font-size: var(--font-size-medium);
  margin-bottom: 10px;
}

.home_heroSection__article > div > ul {
  width: max-content;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.home_heroSection__article > div > ul li:nth-child(2n - 2) {
  display: block;
  font-size: var(--font-size-small);
}

.home_heroSection__article > div > div {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 20px;
}

@media not all and (min-width: 1024px) {
  .home_heroSection__article {
    text-align: center;
  }

  .home_heroSection {
    min-height: 85vh;
    justify-content: center;
  }

  .home_heroSection > div {
    display: flex;
    flex-direction: column-reverse;
    gap: 14px;
  }

  .home_heroSection:first-child {
    flex-direction: column-reverse;
    margin: 0;
  }

  .home_heroSection__icons {
    flex-direction: row;
    margin-bottom: 14px;
  }

  .home_heroSection__article > div > ul {
    flex-direction: column;
    margin: 0 auto;
  }

  .home_heroSection__article > div > ul li:nth-child(2n - 1) {
    display: none;
  }

  .home_heroSection__article > div > div {
    justify-content: center;
    margin-bottom: 16px;
  }
}
